body{
	font-family: sans-serif;
}

.lanes {
	width: 300px;
	margin-right: 2%;
	height: 100%;
	float: left;
}

.title {
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.number-of-likes{
	float: left;
	width: 30px;
}