body{
	font-family: sans-serif;
	color: #423D3D;
}

a{
	text-decoration: none;
	color: #423D3D;
}

.container{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.lanes {
	width: 300px;
	margin-right: 2%;
	height: 100%;
	float: left;
}

.title {
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.number-of-likes{
	float: left;
	width: 30px;
}

.trash-icon {
	float: right;
}
